[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap4 = "*"
essential-generators = "*"
django-bootstrap-modal-forms = "*"
gunicorn = "*"

[dev-packages]
bpython = "*"
selenium = "*"
docker-compose = "*"

[requires]
python_version = "3.8"
