{% extends 'core/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}    
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Logout Success {% endblock title %}


{% block content %}
<br>
<p>You logged out</p>

{% endblock content %}

{% block footer_javascript_page %}
<script>
    function redirect(){
       window.location.href = "{% url 'core:event_index' %}";
    }

    setTimeout(redirect, 3000); //2000 is equivalent to 2 seconds
</script>
{% endblock footer_javascript_page %}