{% extends 'core/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}    
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}User Details {% endblock title %}


{% block content %}
<br>
<div class="row">
    <div class="col">
        {# Display a user #}
        <h1>{{ profile.full_name }}</h1>
        <hr>
        <p>Username: {{ profile.username }}</p>
        <p>Joined: {{ profile.date_joined | date }}</p>
    </div>
</div>
<div class="row">
    <div class="col"> 
        <div>Future Events:</div>
        <div class="list-group">
            {% for event in attending_events %}
            <a href="{% url 'core:event_details' event.id  %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ event.name }}</h5>
                    <small>{{ event.date | date}}</small>
                </div>
                <p class="mb-1">{{ event.location.name }}</p>
            </a>
            {% empty %}
            <p class="list-group-item">This user is not attending any upcoming events</p>
            {% endfor %}
        </div>
    </div>
    <div class="col"> 
        <div>Past Attendance:</div>
        <div class="list-group">
            {% for event in attended_events %}
            <a href="{% url 'core:event_details' event.id  %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ event.name }}</h5>
                    <small>{{ event.date | date}}</small>
                </div>
                <p class="mb-1">{{ event.location.name }}</p>
            </a>
            {% empty %}
            <p class="list-group-item">This user has not attended any events</p>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}