body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    height: 4em;
}

.footer > a:hover {
    text-decoration: none;
}
