<!-- Load static -->
{% load static %}


{# HTML5 declaration #}
<!DOCTYPE html>
<html>
<!-- Make modifiable head elements -->
<!-- HTML HEAD -->

<head>
    <title>{% block title %}Instance Title {% endblock title %}| EventLite </title>
    {% block head_favicon %}
    {% endblock head_favicon %}
    {% block head_meta %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_meta_viewport %}
    {% endblock head_meta %}
    {% block head_css %}
    {% block head_css_site %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}" media="screen" type="text/css">
    {% endblock head_css_site %}
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
    {% block head_scripts %}
    <script src="{% static 'core/js/jquery-3.5.1.js' %}"></script>
    <script src="https://kit.fontawesome.com/044da3f768.js" crossorigin="anonymous"></script>
    {% endblock head_scripts %}
</head>

<!-- HTML BODY -->

<body>
    <div id="page-container">
        <div id="content-wrap">

            <!-- HEADER -->
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light {% block nav-style %}{% endblock %}">
                    <span class="navbar-brand">EventLite</span>

                    {% if user.is_authenticated %}
                    <div class="navbar-text">
                        <a class="nav-link" href="{% url 'accounts:user_details' user.username %}"><span>Welcome
                                {{ user.first_name | capfirst }}</span></a>
                    </div>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:about' %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:index' %}">All Events</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a id="link-new-event" class="nav-link" href="{% url 'core:create_event' %}">New
                                    Event</a>
                            </li>
                            {% else %}
                            {% endif %}
                        </ul>
                        <div>
                            <ul class="navbar-nav mr-auto">
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a id="link-logout" class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                                </li>
                                {% if invites %}
                                <li class="nav-item">
                                    <a id="link-invites" class="nav-link text-primary"
                                        href="{% url 'accounts:invitations'  %}">You have {{ invites.count }} invite{{invites.count | pluralize}}</a>
                                </li>
                                {% else %}
                                {% endif %}
                                {% else %}
                                <li class="nav-item">
                                    <a id="link-login" class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- DOCUMENT BODY  -->
            <main class="container" role="main">
                {% block content %}
                if you see this, something is wrong!
                {% endblock content %}

            </main>

        </div>
        <!-- FOOTER  -->
        <footer id="footer">
            <a href="https://github.com/b-steel">
                <small class="text-muted">Built by B-Steel</small>
                <i class="fab fa-github"></i>
            </a>
        </footer>
    </div>
</body>

<!-- Set of blocks that can be used to display JavaScript files -->
{% block footer_javascript %}
{% block footer_javascript_site %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock footer_javascript_site %}
{% block footer_javascript_section %}{% endblock footer_javascript_section %}
{% block footer_javascript_page %}{% endblock footer_javascript_page %}
{% endblock footer_javascript %}

</html>