{% extends 'core/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- Load static -->
{% load static %}

<!-- Don't forget to change the title of the page -->
{% block title %}New Event {% endblock title %}
<!-- Don't forget to change the title of the page -->


{% block content %}
<div class="row">
    <div class="col p-3">
        {# Display a form #}
        <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Create Event
            </button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col p-3">
        <p>Don't forget to invite some guests! You can also assign additional hosts who can then help you out by editing
            your event</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn git btn-primary" data-toggle="modal" data-target="#inviteModal">
            Invite Guests
        </button>
        <!-- Invite Modal -->
        <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="inviteModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group">
    
                            {% for user in user_list %}
                            <div class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="span">{{user.full_name}}</div>
                                    <div class="invitation-list-item">
                                        <button type="button" class="btn btn-primary" id="button-invite-user-{{user.id}}">
                                            Invite
                                        </button>
                                        <button type="button" class="btn btn-info" id="button-host-user-{{user.id}}">
                                            Make Host
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="list-group-item">No users found</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modal-invite-submit" type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block footer_javascript_page %}
<script>
    var ajaxUrl = "{% url 'core:ajax_invite_users' %}"
</script>
<script src="{% static 'core/js/create_event.js' %}"></script>
{% endblock footer_javascript_page  %}