{% extends 'core/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Event Details {% endblock title %}


{% block content %}
<br>

<div class="row">
    <div class="col">
        <h1 id="event-name">{{ event.name | capfirst}}</h1>
    </div>
</div>
<div class="row">
    <div class="col">

        <p id="event-creator">Created by:
            <a href="{% url 'accounts:user_details' event.creator.username %}">{{event.creator.full_name }}</a>
        </p>
        {% if event.hosts.all %}
        <p id="additional-hosts">Additional Hosts:
            {% for host in event.hosts.all %}
            {% include 'core/comma.html' %}
            <a href="{% url 'accounts:user_details' host.username %}">{{ host.full_name }}</a>
            {% empty %}
            {% endfor %}
        </p>
        {% else %}
        {% endif %}
        <hr>
        <p id="event-date">When: {{event.date | date:"l, M jS, Y" }}</p>
        <p id="event-location">Where: {{ event.location |default:"No Location - please contact the host for more info"}}</p>
        <hr>
        <p id="event-description">{{ event.description }}</p>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h5>Invited</h5>
                <div class="list-group-flush">
                    {% for user in event.invited.all %}
                    <a href="{% url 'accounts:user_details' user.username %}"
                        class="list-group-item list-group-item-action">
                        <p>{{ user.full_name }}</p>
                    </a>
                    {% empty %}
                    <p class=" list-group-item">This Event does not have any outstanding invitations</p>
                    {% endfor %}
                </div>
            </div>

            <div class="col">
                <h5>Attending</h5>
                <div class="list-group-flush">
                    {% for user in event.attending.all %}
                    <a href="{% url 'accounts:user_details' user.username %}"
                        class="list-group-item list-group-item-action">
                        <p>{{ user.full_name }}</p>
                    </a>
                    {% empty %}
                    <p class=" list-group-item">This Event does not have any attendees yet</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}