{% extends 'core/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Index {% endblock title %}


{% block content %}
<br>
<div class="container">

    <div class="row">
        <div class="col bg-light">
            <h1>Upcoming Events</h1>
        </div>
        <div class="w-100"></div>
        {% for event in future %}
        <div class="col-md-4 p-1">
            <div class="card h-100 p-2">
                <div class="card-block">
                    <h4 class="card-title">{{ event.name | capfirst }}</h4>
                    <p class="card-text">{{ event.description | truncatewords:20 | capfirst}}</p>
                    <a class="stretched-link" href="{% url 'core:event_details' event.id %}"></a>
                    <small>{{ event.date | date }}</small>
                </div>
            </div>
        </div>
        {% empty %}
        {% if user.is_authenticated %}
        <p>It looks like there are no upcoming events, perhaps you'd like to
            <a href="{% url 'core:create_event'  %}">create</a>
            your own</p>
        {% else %}
        <p>It looks like there are no upcoming events, you can </p>
        <a href="{% url 'accounts:login'  %}">login</a>
        <p> to create your own</p>
        {% endif %}
        {% endfor %}
    </div>



    <div class="row">
        <div class="col bg-light">
            <h1>Past Events</h1>
        </div>
        <div class="w-100"></div>

        {% for event in past %}
        <div class="col-md-4 p-1">
            <div class="card h-100 p-2">
                <div class="card-block">
                    <h4 class="card-title">{{ event.name | capfirst }}</h4>
                    <p class="card-text">{{ event.description | truncatewords:20 | capfirst}}</p>
                    <a class="stretched-link" href="{% url 'core:event_details' event.id %}"></a>
                    <small>{{ event.date | date }}</small>
                </div>
            </div>
        </div>
        {% empty %}

        <p>It looks as if there haven't yet been any events. That's good news, you didn't miss anything! We know
            millenials have such FOMO</p>
        {% endfor %}
    </div>

</div>

{% endblock content %}