{% extends 'core/base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- Don't forget to change the title of the page -->
{% block title %}Invite People {% endblock title %}
<!-- Don't forget to change the title of the page -->


{% block content %}
<br>

<div class="card">
    <p>Invite some people</p>
    <div class="row">
        <div class="col">
            <p>things happen here</p>
            <p>current invitees w/ buttton to remove</p>
            
        </div>
    </div>
</div>

{% endblock content %}



